@mixin circle($diameter){
  width: $diameter;
  height: $diameter;
  line-height: $diameter;
  border-radius: 50%;
}

html{
  overflow-y: scroll;
}

#app{
  padding:30px 0;
  h3{
    margin: 50px 0;
    font-size: 36px;
  }
  h4{
    margin-top: 30px;
  }
  h5{
    text-align: center;
    margin-bottom: 20px;
  }
  a{
    color:#555;
    &:hover{
      color:#000;
    }
  }
  header{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  main{
    padding: 0 50px;
  }
  footer{
    border-top: 1px solid #eee;
    padding-top: 40px;
    margin-top: 50px;
  }
  .p-3{
    img{
      max-width: 100%;
    }
  }
  .business-area{
    @include circle(200px);
    background-color: #333;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5{
      font-weight: 100;
      font-size:36px;
      color:#9ccb3a;
      margin-bottom: 10px;
    }
    ul{
      color:#fff;
      text-align: center;
      height:40px;
      line-height: 20px;
      margin-bottom: 0;
    }


  }
  .feature{
    h5{
      margin-top: 15px;
    }
  }
}

#business-content{
  h5{
    font-size:28px;
    margin-bottom: 0;
  }
}


#business{
  padding:0 30px;
  >div{
    >div{
      >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        ul{
          width:100%;
          padding: 0;
          li{
            list-style: none;
            text-align: center;
          }
        }
    }
  }

  div.circle-image{
    @include circle(150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    img{
      display: block;
      align-self: center;
      width:80px;
    }
  }


  .tech{
    @include circle(200px);
    border: 2px dashed #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5{
      font-size:32px;
      margin-bottom: 10px;
    }
    p{
      text-align: center;
      height:40px;
      line-height: 20px;
      margin-bottom: 0;
    }
  }
}
}

  